td, th {
    padding: 10px;
    border: 1px solid black;
}

tr {
    padding: 10px;
    border: 1px solid black;
}

table {
    margin: 20px;
    width: 50vw;
    border-spacing:0;
    border-collapse: collapse;
}

.btn-danger {
    background-color: red;
}

.hide-show-btn {
    width: 200px;
}